# Telegram Bot Configurations
TELEGRAM_BOT_TOKEN=8726745749:AAER6BdfmzO5hpFZu81Y_rTUeK3NsVg1fHo
TELEGRAM_BOT_USERNAME=ustatopildi_bot
SUPER_ADMIN_IDS=5410932479

# Cloudinary Configurations
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Security & Secrets
JWT_SECRET=your_jwt_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
INTERNAL_API_KEY=your_internal_api_key_here

# Web App Configuration
WEBAPP_URL=https://github.com/tojibayev00/ustabot/apps/miniapp/index.html

# Databases
DATABASE_URL=postgresql://postgres:QDnjKoheJZWYSyxYTjFGSiiysRBmquue@tokaido.proxy.rlwy.net:17835/railway
REDIS_URL=redis://localhost:6379

